In [ ]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
import requests

In [5]:
import matplotlib.pyplot as plt

In [6]:
import json

# Confirmed Cases

In [12]:
ts_request_confirmed = requests.get('https://covid2019-api.herokuapp.com/timeseries/confirmed')

jdata_confirmed = json.loads(ts_request_confirmed.text)

df_confirmed = pd.DataFrame(jdata_confirmed['confirmed'])


df_confirmed = df_confirmed.iloc[:, 1:]

df_melted_confirmed = df_confirmed.melt(id_vars=['Country/Region', 'Lat', 'Long'],
                                        var_name='date', 
                                        value_name='cas_detectes')

# Deaths Cases

In [9]:
ts_request_deaths = requests.get('https://covid2019-api.herokuapp.com/timeseries/deaths')


jdata_deaths = json.loads(ts_request_deaths.text)

df_deaths = pd.DataFrame(jdata_deaths['deaths'])


df_deaths = df_deaths.iloc[:, 1:]

df_melted_deaths = df_deaths.melt(id_vars=['Country/Region', 'Lat', 'Long'],
                                        var_name='date', 
                                        value_name='deces')

# Recovered Cases

In [10]:
ts_request_recovered = requests.get('https://covid2019-api.herokuapp.com/timeseries/recovered')


jdata_recovered = json.loads(ts_request_recovered.text)

df_recovered = pd.DataFrame(jdata_recovered['recovered'])


df_recovered = df_recovered.iloc[:, 1:]

df_melted_recovered = df_recovered.melt(id_vars=['Country/Region', 'Lat', 'Long'],
                                        var_name='date', 
                                        value_name='gueris')

In [13]:
df_melted_confirmed.head()

  Country/Region       Lat     Long     date cas_detectes
0    Afghanistan      33.0     65.0  1/22/20            0
1        Albania   41.1533  20.1683  1/22/20            0
2        Algeria   28.0339   1.6596  1/22/20            0
3        Andorra   42.5063   1.5218  1/22/20            0
4         Angola  -11.2027  17.8739  1/22/20            0

In [14]:
df_melted_deaths.head()

  Country/Region       Lat     Long     date deces
0    Afghanistan      33.0     65.0  1/22/20     0
1        Albania   41.1533  20.1683  1/22/20     0
2        Algeria   28.0339   1.6596  1/22/20     0
3        Andorra   42.5063   1.5218  1/22/20     0
4         Angola  -11.2027  17.8739  1/22/20     0

In [15]:
df_melted_recovered.head()

  Country/Region       Lat     Long     date gueris
0    Afghanistan      33.0     65.0  1/22/20      0
1        Albania   41.1533  20.1683  1/22/20      0
2        Algeria   28.0339   1.6596  1/22/20      0
3        Andorra   42.5063   1.5218  1/22/20      0
4         Angola  -11.2027  17.8739  1/22/20      0

In [16]:
DF_1 = pd.merge(df_melted_confirmed, df_melted_deaths, how = "inner", 
                on = ["Country/Region", "Lat", "Long", "date"])

In [18]:
df_final = pd.merge(DF_1, df_melted_recovered, how = "inner", 
                on = ["Country/Region", "Lat", "Long", "date"])

In [30]:
df_final['date'] = pd.to_datetime(df_final['date'])

In [31]:
df_final.sort_values('date', ascending=False)

,Country/Region,Lat,Long,date,cas_detectes,deces,gueris
14949,Kosovo,42.602636,20.902977,2020-03-26,71,1,0
14805,Dominican_Republic,18.7357,-70.1627,2020-03-26,488,10,3
14803,Denmark,56.2639,9.5018,2020-03-26,1877,41,1
14802,Denmark,71.7069,-42.6043,2020-03-26,6,0,2
14801,Denmark,61.8926,-6.9118,2020-03-26,140,0,47
...,...,...,...,...,...,...,...
150,Mongolia,46.8625,103.8467,2020-01-22,0,0,0
149,Monaco,43.7333,7.4167,2020-01-22,0,0,0
148,Moldova,47.4116,28.3699,2020-01-22,0,0,0
147,Mexico,23.6345,-102.5528,2020-01-22,0,0,0
0,Afghanistan,33.0,65.0,2020-01-22,0,0,0